<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="first_run" value="true"/>

		<add key="motor_kp" value="0.34"/>
		<add key="motor_ki" value="0.01"/>
		<add key="motor_kd" value="0"/>
		
		<add key="motor_speed" value="0.30"/>

		<add key="servo_kp" value="12.0"/>
		<add key="servo_ki" value="0.00"/>
		<add key="servo_kd" value="0"/>
	</appSettings>
</configuration>